{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Select Cities</title>
		<link rel="icon" href="data:,"/>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body class="bg-gray-100 flex items-center justify-center h-screen">
		<div class="w-full max-w-md bg-white p-8 rounded-lg shadow-md">
			<div class="flex flex-col justify-center items-center">
				<a href="/" class="text-blue-600 hover:text-blue-800 text-lg mb-6 inline-block">Home</a>
			</div>
			<form action="/distance" method="POST" class="space-y-6">
				<div>
					<label for="city1" class="block text-lg text-gray-700">Select the first city</label>
					<select id="city1" name="city1" class="mt-1 p-2 border border-gray-300 rounded w-full">
						{{range $key, $value := .Cities}}
							<option value="{{$key}}">{{$value}}</option>
						{{end}}
					</select>
				</div>

				<div>
					<label for="city2" class="block text-lg text-gray-700">Select the second city</label>
					<select id="city2" name="city2" class="mt-1 p-2 border border-gray-300 rounded w-full">
						{{range $key, $value := .Cities}}
							<option value="{{$key}}">{{$value}}</option>
						{{end}}
					</select>
				</div>

				<div class="mt-4">
					<button type="submit" class="w-full px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">Submit</button>
				</div>

				{{if ne .Path ""}}
					<div class="mt-4 flex flex-col justify-center items-center">
						<h1 class="text-xl text-gray-700">{{.Path}}</h1>
						<h1 class="text-xl text-gray-700">{{.Cost}}</h1>
					</div>
				{{end}}
			</form>
		</div>
	</body>
</html>
{{ end }}
